h1, footer {
  text-align: center;
}

p, button, h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30;
}

.hidden {
  display: none;
}

button {
  font-size: 20px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

#criterias {
  display: flex;
  justify-content: space-around;
  /* background-color: yellow; */
}

#classifications {
  display: flex;
  justify-content: space-around;
}

.classification {
  /* background-color: green; */
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 100px;
}

.images {
  height: 200px;
}

#imgs {
  /* display: flex; */
}

.selected {
  text-decoration: underline;
  font-weight : bold;
}
